body {
  background-color:transparent;
}
.switcher {
  margin: 0 50px 0 0;
  display: flex;
  flex-direction: row-reverse;
}
.nameTheme {
  display: flex;
  margin: 25px 75px 0 0;
  flex-direction: row-reverse;
}
.light {
  background: linear-gradient(301deg, #aea4e3, #d3ffe8);
  color: darkblue;
  height: 100vh;
}



.dark {
  background-color:#1b1b1b;;
  color: white;
  height: 100vh;
}
.switcher {
  padding-top: 50px;
  input {
    background: darkblue;
  }
}
